APP_ENV=local
APP_URL=http://localhost
APP_DEBUG=true
APP_KEY=***REMOVED***

DB_HOST=db
DB_DATABASE=monelytics
DB_USERNAME=webapp
DB_PASSWORD=***REMOVED***

CACHE_DRIVER=redis
SESSION_DRIVER=redis

MAIL_DRIVER=smtp
MAIL_HOST=localhost
MAIL_PORT=587
MAIL_FROM_ADDRESS=notice@monelytics.local
MAIL_FROM_NAME=notice@monelytics.local
MAIL_USERNAME=''
MAIL_PASSWORD=''

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DATABASE='0'

FACEBOOK_CLIENT_ID=''
FACEBOOK_CLIENT_SECRET=''

NOTICE_CONTACT=n.yamakita@gmail.com

GOOGLE_API_KEY=''
